@page
@model PhoneBook.Pages.CreateModel
@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<br />

<p style="color: red; font-size: 16px;">
    @if (!string.IsNullOrWhiteSpace(Model.Message))
    {
        {@Model.Message}
}

</p>
<form class="form-inline mr-auto" method="post">
    <input asp-for="Name" class="form-control mr-sm-2" type="text" placeholder="Name">
    <input asp-for="PhoneNumber" class="form-control mr-sm-2" type="text" placeholder="Phone Number">
    <button class="btn btn-unique btn-rounded btn-sm my-0" type="submit">Create</button>
</form>
