@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>Phone Book Entries</h2>

<table class="table">
    <caption>List of users</caption>
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Phone Number</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var entry in Model.PhoneBookEntries)
        {
            { <tr> <td>@entry.Name</td>  <td>@entry.PhoneNumber</td> </tr>}

        }

    </tbody>
</table>